.grid {
  display: grid;
  grid-template-columns: repeat(15, 2.5rem);
  grid-template-rows: repeat(10, 2.5rem);
  gap: 1rem;
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  color: #ffffff;
  background-color: var(--secondary-color);
  background-image: url('/orange_bg.png');
  background-size: 120%;
  background-position: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.cell.cleared {
  visibility: hidden;
}

.selected {
  background-color: rgba(255, 151, 0, 0.6);
}
